<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <h1>Welcome to Hangman Game</h1>
    <p>
      <%= message %></br>
      <%= wrong_guesses %></br>
      <%= guesses_remain %></br></br>
      <%= visualised_word %></br></br>
      <img src='<%= image_path %>' width= '400' height='400' alt='picture'/>
    </p>
    <form action='/guess' method='POST'>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!'/></br>
   </form>
   <form action='/reset' method='POST'>
      <input type='submit' value='Reset'/></br>
   </form>
  </body>
</html>