<html>
  <head>
    <title>Hangman</title>
  </head>
  <body>
    <h1>Welcome to Hangman Game</h1>
    <p>
      <%= message %></br>
      <%= wrong_guesses %></br>
      <%= visualised_word %></br>
      <%= guesses_remain %></br>
      <%= image_path %></br>
    </p>
    <form>
      <input type='text' name='guess'/>
      <input type='submit' value='Guess!'/></br>
<!--       <input type='submit' value='RESET THE GAME!'/>
 -->    </form>
  </body>
</html>